<ul class="nav justify-center  gap-2 p-1 small bg-white rounded-top-2 shadow-sm" id="pillNav2" role="tablist"
    style="--bs-nav-link-color: var(--bs-blue); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">

    <li>
        <img class="" src="../../../assets/img/logo.png" alt="" height="40">
    </li>
    <li>
        <input type="search" class="rounded-5 justify-center fa-solid fa-magnifying-glass" value=" Facebook Clone">
    </li>
    <li class="nav-item padding-left-50 centerfeild" role="presentation">
        <a class="nav-link rounded-5" id="home-tab2" data-bs-toggle="tab" type="a" role="tab" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
            aria-selected="true" ><i class="fa fa-home fa-lg" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item centerfeild" role="presentation">
        <a class="nav-link rounded-5" id="profile-tab2" data-bs-toggle="tab" type="a" role="tab" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
            aria-selected="false" routerLink="/post"><i class="fa fa-users fa-lg" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item centerfeild" role="presentation">
        <a class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="a" role="tab" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
            aria-selected="false" routerLink="/get"><i class="fa fa-youtube-play fa-lg" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item centerfeild" role="presentation">
        <a class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="a" role="tab" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
            aria-selected="false" routerLink="/get"><i class="fa-solid fa-store fa-lg" ></i></a>
    </li>
    <li class="nav-item centerfeild" role="presentation">
        <a class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="a" role="tab" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
            aria-selected="false" routerLink="/get"> <i class="fa fa-th " aria-hidden="true" style="color: #5d646f;"></i></a>
    </li>
    <li class="nav-item centerfeild" role="presentation">
        <a class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="a" role="tab" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
            aria-selected="false" routerLink="/get">  <i class="fa-brands fa-facebook-messenger fa-xl" style="color: #5d646f;"></i></a>
    </li>
    <li class="nav-item centerfeild" role="presentation">
        <a class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="a" role="tab" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
            aria-selected="false" routerLink="/get"><i class="fa-solid fa-bell fa-xl" style="color: #58606f;"></i></a>
    </li>
    <li class="nav-item centerfeild" role="presentation" >
        <img src="" alt="">
    </li>
    <li class="nav-item centerfeild" role="presentation" >
        <i class="fa-solid fa-user-circle fa-xl" aria-hidden="true"></i>
    </li>


   

</ul>